<<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word quiz</title>
    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div ng-app="app" ng-controller="ctrl" class="container well text-center">
      <h2>Word Quiz</h2>
      <hr>
      <div ng-if="counter !== objects.length">
          <h4 class="text-center"><b>{{ objects[counter].word }} ({{ counter + 1}}/{{ objects.length }})</b></h4>
          <br>
          <button ng-click="switch.showAns = ! switch.showAns" class="btn btn-primary btn-lg showBtn">Check</button>
          <button ng-click="skip()" class="btn btn-info btn-lg">Skip</button>
          <br><br>
          <div ng-show="switch.showAns">
            {{ objects[counter].answer }}
            <br><br>
            <button ng-click="correct()" class="btn btn-success btn-xs ansBtn">Correct</button>
            <button ng-click="wrong()" class="btn btn-danger btn-xs ansBtn">Wrong</button>
          </div>
          <hr>
          <h3>Your score: {{ correctAnswers }}/{{ objects.length }}</h3>
      </div>
      <div ng-if="counter === objects.length">
          <h2>Final score: {{ correctAnswers }}/{{ objects.length }}</h2>
          <button ng-click="restart()" class="btn btn-primary btn-lg">Restart</button>
      </div>

    </div><!--app-->
  </body>
  <script src="ctrl.js"></script>
</html>
